Beaker==1.8.0
boto3
botocore
codecov==2.0.16
colored==1.2.1
cookies==2.2.1
cov-core==1.15.0
coverage==4.0.3
datadog==0.11.0
decorator==4.0.9
docutils==0.12
flake8==2.5.4
funcsigs==1.0.0
futures==3.0.5
idna==3.7
ipaddress==1.0.16
jmespath==0.9.0
mccabe==0.4.0
mock==2.0.0
ndg-httpsclient==0.4.2
nose2==0.6.4
ordereddict==1.1
pbr==1.9.0
pep8==1.7.0
placebo==0.8.1
pyasn1==0.1.9
pycparser==2.14
pyflakes==1.0.0
pyOpenSSL
python-dateutil
python-memcached==1.57
PyYAML
requests
responses==0.5.1
s3transfer
simplejson
six
stevedore==1.12.0
virtualenv==15.0.1
virtualenv-clone==0.2.6
virtualenvwrapper==4.7.1
